<div class="col-6">
  <h1>INVENTARIO</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID Producto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio Compra</th>
          <th scope="col">Precio Venta</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>XS</td>
          <td>IPhone</td>
          <td>Cell</td>
          <td>200000</td>
          <td>45000</td>
          <td>45</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>XS</td>
          <td>IPhone</td>
          <td>Cell</td>
          <td>200000</td>
          <td>45000</td>
          <td>45</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>XS</td>
          <td>IPhone</td>
          <td>Cell</td>
          <td>200000</td>
          <td>45000</td>
          <td>45</td>
        </tr>
      </tbody>
    </table>
  </div>