<div class="col-12">
  <navbar></navbar>
  <div class="col-2"style="float: left;">
    <app-tool-bar></app-tool-bar>
  </div>
  <div class="col-10" align="center" style="float: right;">
    <div class="col-12">
      <navfilter></navfilter>
    </div>
    <h1 align="center">Lista Productos</h1>
    <h3 align="center">Inventario</h3>
      <div class="col-10 pag" align="center">
      <table class="table table-bordered">
        <thead style="background-color:rgb(155, 255, 223);" class="thead">
        
        <tr>
          <th scope="col">ID Producto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio Compra(u)</th>                              
          <th scope="col">Precio Venta(u)</th>
          <th scope="col">Stock</th>
          <th scope="col">Estado</th>
        </tr> 
        </thead>
        <tbody>
          <tr>
            <th scope="row">001</th>
              <td>XS</td>
              <td>IPhone</td>
              <td>Cell</td>
              <td>200.000</td>
              <td>450.000</td>
              <td>35</td>
              <td style="background-color: rgb(186, 248, 186);">Disponible</td>
            </tr>
            <tr>
              <th scope="row">002</th>
              <td>A30</td>
              <td>Samsung</td>
              <td>Cell</td>
              <td>280.000</td>
              <td>400.000</td>
              <td>27</td>
              <td style="background-color: rgb(186, 248, 186);">Disponible</td>
            </tr>
            <tr>
              <th scope="row">003</th>
              <td>P20</td>
              <td>Huawei</td>
              <td>Cell</td>
              <td>300.000</td>
              <td>450.000</td>
              <td>20</td>
              <td style="background-color: rgb(186, 248, 186);">Disponible</td>
            </tr>
        </tbody>
        <th scope="7">TOTAL</th>
        <td colspan="7"></td>
      </table>
    </div>
  </div>    
</div>
