.my-sm-0{
    background-color: rgb(31, 128, 95);
    border: 2px solid rgb(8, 232, 248);
    border-radius: 20px;
    padding: 0 40px;
    cursor: pointer;
    height:42px;
    font-size:18px;
    transition: all 0.2s ease-in-out;
    color: rgb(250, 246, 246);
}
.my-sm-0:hover{    background:#018f7c radial-gradient(circle, transparent 1%, #009b74 1%) center/15000%;
    color: rgb(255, 255, 255);
    border-radius: 50%;}
.my-sm-0:active{
    background-color:#007255;
    background-size: 100%;
    transition: background 0s;
}