h1{
    margin-top: 10%;
}

.pag{
    margin-top:3%;
}
table{
    width: 100%;
    margin: 0;
    padding: 5px;
    border-spacing: 0;
}

table td, table th{
    padding: 4xp;
    text-align: center;

}
nav{
    margin-top:3% ;
    align-content: right;
}

select{
    margin-top:3% ;
    align-items: center;
}

.th,td {
    padding: 0.4rem !important;
  }
  body>div {
    box-shadow: 5px 5px 5px rgb(0, 158, 116);
    border: 2px solid rgb(17, 204, 157);
    border-radius: 10px;
}
.btn-delete{
    background-color: red;
}