
.tf{
    background: #00FFB7;  /* fallback for old browsers */ 
background: -moz-linear-gradient(to bottom, #00FFB7, #005066);  /* Firefox 3.6-15, Firefox 16-60 */ 
background: -webkit-linear-gradient(to bottom, #00FFB7, #005066);  /* Chrome 10-25, Safari 5.1-6 */ 
background: linear-gradient(to bottom, #00FFB7, #005066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.card{
    margin-top: 1%;
    background: #00FFB7;  /* fallback for old browsers */ 
background: -moz-linear-gradient(to right top, #00FFB7, #005066);  /* Firefox 3.6-15, Firefox 16-60 */ 
background: -webkit-linear-gradient(to right top, #00FFB7, #005066);  /* Chrome 10-25, Safari 5.1-6 */ 
background: linear-gradient(to right top, #00FFB7, #005066); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: solid 2px white;
}
.row{
    height: 100%;
    margin: 0;
    padding: 0;
}
.card-img-top{
    margin-top: 10px;
    width: 120px;
    
}

.exampleInputPassword1{
    color: azure;
}
    .colorbtn{

        
        background-color: rgb(31, 128, 95);
        border: 2px solid rgb(8, 232, 248);
        border-radius: 40px;
        padding: 0 40px;
        cursor: pointer;
        height:42px;
        font-size:18px;
        transition: all 0.2s ease-in-out;
        }
        
        .colorbtn:hover {
            background:#018f7c radial-gradient(circle, transparent 1%, #009b74 1%) center/15000%;
        color: rgb(255, 255, 255);
        border-radius: 50%;
        }
        .colorbtn:active {
        background-color:#007255;
        background-size: 100%;
        transition: background 0s;
        }
   
    

.title{
    color:rgb(255, 183, 0);
}
.form-group{
    color: white;
    
}