.card{
    margin-top: 1%;
    background-color:black;
}
.row{
    height: 100%;
    margin: 0;
    padding: 0;
}
.colorbtn{
    background-color: goldenrod;
}
.title{
    color:goldenrod;
}
.form-group{
    color: white;
}