<div class="form-group col-12" class="row" style="margin: 0%; padding: 0%;"></div>
<nav class="navbar navbar-dark bg-dark">
    .
    <a class="navbar-brand" align="center" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sistema de inventario BS </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" align="center" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" align="center" href="#">Ajustes</a>
        <a class="nav-item nav-link" align="center" href="/#/inventory-sales">Ventas</a>
        <a class="nav-item nav-link disabled" align="center" href="/#/login" (click)="deleteLocalName()">Cerrar sesión</a>
      </div>
    </div>
  </nav>