.bg-dark{
    background: #123B28;  /* fallback for old browsers */ 
background: -moz-linear-gradient(to left, #123B28, #1D846B);  /* Firefox 3.6-15, Firefox 16-60 */ 
background: -webkit-linear-gradient(to left, #123B28, #1D846B);  /* Chrome 10-25, Safari 5.1-6 */ 
background: linear-gradient(to left, #123B28, #1D846B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}