<div class="col-12">
  <navbar></navbar>
  <div class="col-2"style="float: left;">
    <app-tool-bar></app-tool-bar>
  </div>
  <div class="col-10" style="float: right;">
    <div class="card">
      <div class="card-body">
          <h1 align="center">Bienvenido</h1>
          <h1  align="center">¿Que deseas hacer hoy?</h1>
      </div>
    </div>
    <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" align="center">
          <div class="row">
    <div class="col-xs-4">
      <div class="cardd">
        <div class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail cardd-img">
          </div>

          <div class="cardd-header">
            <a href="#"><h5 class="cardd-title" aling="center">Crear</h5></a>
          </div>

          <div class="cardd-bottom">
            <small class="cardd-members">Crear Usuario</small>
            <button type="button" class="bttn bttn-danger -small card-bttn">Crear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="cardd">
        <div class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail cardd-img">
          </div>

          <div class="cardd-header">
            <a href="#"><h5 class="cardd-title">Añadir</h5></a>
          </div>

          <div class="cardd-bottom">
            <small class="cardd-members">Añadir Producto</small>
            <button type="button" class="bttn bttn-primary -small card-bttn">Añadir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Member -->
 
        </div>
        <div class="carousel-item" align="center">
            
          <div class="row">
    <div class="col-xs-4">
      <div class="cardd">
        <div class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail cardd-img">
          </div>

          <div class="cardd-header">
            <a href="#"><h5 class="cardd-title" aling="center">Modificar</h5></a>

          </div>

         



          <div class="cardd-bottom">
            <small class="cardd-members">Modificar Producto</small>
            <button type="button" class="bttn bttn-danger -small card-bttn">Modificar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="cardd">
        <div class="media">
          <div class="media-left">
            <img class="media-object img-thumbnail cardd-img">
          </div>

          <div class="cardd-header">
            <a href="#"><h5 class="cardd-title">Inventario</h5></a>
          </div>

  

          <div class="cardd-bottom">
            <small class="cardd-members">Inventario</small>
            <button type="button" class="bttn bttn-primary -small card-bttn">Inventario</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Member -->
 






        </div>
        <div class="carousel-item" align="center">
          

          <div class="row">
            <div class="col-xs-4">
              <div class="cardd">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-thumbnail cardd-img">
                  </div>
        
                  <div class="cardd-header">
                    <a href="#"><h5 class="cardd-title" aling="center">Reporte</h5></a>
                  </div>
        
                  <div class="cardd-bottom">
                    <small class="cardd-members">Reporte Ventas</small>
                    <button type="button" class="bttn bttn-danger -small card-bttn">Reporte</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="cardd">
                <div class="media">
                  <div class="media-left">
                    <img class="media-object img-thumbnail cardd-img">
                  </div>
        
                  <div class="cardd-header">
                    <a href="#"><h5 class="cardd-title">Reporte</h5></a>
                  </div>
        
               
        
                  <div class="cardd-bottom">
                    <small class="cardd-members">Reporte Ganancias</small>
                    <button type="button" class="bttn bttn-primary -small card-bttn">Reporte</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
          <!-- Member -->
         

        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
</div>