<div class="col-12">
    <navbar></navbar>
    <div class="col-2"style="float: left;">
      <app-tool-bar></app-tool-bar>
    </div>
    <div class="row col-10" style="float: right;">
        <div class="card col-12"  style="width: 40rem;">
            <div class="card-body">
                <div class="col-12"align="center">
                    <h2 class="title">Ingresa nuevo producto al inventario</h2>
                    <img src="../../../assets/img/ico_16.png" style="width: 8rem;" class="card-img-top" alt="...">
                </div>
                <form>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationServer01">Fecha</label>
                            <input (keyup)="dateKeyup($event.target.value)" type="datetime-local" class="form-control {{validDate}}" id="validationServer01" value="12-12-12" required>
                                <div class="invalid-feedback">
                                    {{lockDate}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer02">N° de Factura</label>
                            <input (keyup)="numberKeyup($event.target.value)" type="text" class="form-control {{validNumber}}" id="validationServer02" value="12345" required>
                                <div class="invalid-feedback">
                                    {{lockNumber}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer08">proveedor</label>
                            <input (keyup)="providerKeyup($event.target.value)"  type="text" class="form-control {{validProvider}}" id="validationServer08" required>
                                <div class="invalid-feedback">
                                    {{lockProvider}}
                                </div>
                        </div>
                    </div>
                    <div class="form-row">  
                        <div class="col-md-4 mb-3"> 
                            
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Marca
                                </button>
                                <div [(ngModel)]="marcaLocal" class="custom.select mr-sm-2" id="inlineFormCustomSelec" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <option  *ngFor = "let marca of lista" [ngValue]="marca" >{{marca.marcaDto}}</option>
                                </div>
                            </div>    
                            
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer03">Modelo</label>
                            <input (keyup)="modelKeyup($event.target.value)" type="text" class="form-control {{validModel}}" id="validationServer09" required>
                                <div class="invalid-feedback">
                                    {{lockModel}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer03">Categoria</label>
                            <input (keyup)="categoryKeyup($event.target.value)" type="text" class="form-control {{validCategory}}" id="validationServer04" required>
                                <div class="invalid-feedback">
                                    {{lockCategory}}
                                </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationServer09">Stock</label>
                            <input (keyup)="stockKeyup($event.target.value)" type="text" class="form-control {{validStock}}" id="validationServer05" required>
                                <div class="invalid-feedback">
                                    {{lockStock}}
                                </div>
                        </div>
                    
                        <div class="col-md-4 mb-3">
                            <label for="validationServer05">Precio de compra</label>
                            <input (keyup)="buyPriceKeyup($event.target.value)" type="text" class="form-control {{validBuyPrice}}" id="validationServer06" required>
                                <div class="invalid-feedback">
                                    {{lockBuyPrice}}
                                </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="validationServer05">Precio de Venta</label>
                            <input (keyup)="salePriceKeyup($event.target.value)" type="text" class="form-control {{validSalePrice}}" id="validationServer07" required>
                                <div class="invalid-feedback">
                                    {{lockSalePrice}}
                                </div>
                                
                        </div>
                    </div>
                    <button (click)="newProduct()" class="btn btn-add btn-primary" type="submit" align="center">Agregar Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>