<div class="col-12">
    <navbar></navbar>
    <div class="col-2"style="float: left;">
      <app-tool-bar></app-tool-bar>
    </div>
    <div class="row col-10" style="float: right;">
        <div class="card col-12"  style="width: 40rem;">
            <div class="card-body">
                <div class="col-12"align="center">
                    <div class="card-header">
                        <i class="fa fa-area-chart" aling="center"></i>&nbsp;&nbsp;&nbsp;Ingresar nuevo producto al inventario</div>
                </div>
                <form>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationServer01">Fecha</label>
                            <input (keyup)="dateKeyup($event.target.value)" type="date" class="form-control {{validDate}}" id="validationServer01" value="12-12-12" required>
                                <div class="invalid-feedback">
                                    {{lockDate}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer02">N° de Factura</label>
                            <input (keyup)="numberKeyup($event.target.value)" type="text" class="form-control {{validNumber}}" id="validationServer02" value="12345" required>
                                <div class="invalid-feedback">
                                    {{lockNumber}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer08">proveedor</label>
                            <input (keyup)="providerKeyup($event.target.value)"  type="text" class="form-control {{validProvider}}" id="validationServer08" required>
                                <div class="invalid-feedback">
                                    {{lockProvider}}
                                </div>
                        </div>
                    </div>
                    <div class="form-row">  
                        <div class="col-md-4 mb-3">
                            <br>
                            <div class="form-grup">
                                <select [(ngModel)]="marcaLocal" name="marcaName" class="custom-select mr-sm-2 {{validTradeMark}}" (click)="tradeMarkKeyup()" id="inlineFormCustomSelec" required>
                                  <option  *ngFor = "let marca of lista" [ngValue]="marca" >{{marca.marcaDto}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{lockTradeMark}}
                                </div>
                            </div>                                    
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer03">Modelo</label>
                            <input (keyup)="modelKeyup($event.target.value)" type="text" class="form-control {{validModel}}" id="validationServer09" required>
                                <div class="invalid-feedback">
                                    {{lockModel}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationServer03">Categoria</label>
                            <input (keyup)="categoryKeyup($event.target.value)" type="text" class="form-control {{validCategory}}" id="validationServer04" required>
                                <div class="invalid-feedback">
                                    {{lockCategory}}
                                </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="validationServer09">Stock</label>
                            <input (keyup)="stockKeyup($event.target.value)" type="text" class="form-control {{validStock}}" id="validationServer05" required>
                                <div class="invalid-feedback">
                                    {{lockStock}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationServer05">Precio de compra</label>
                            <input (keyup)="buyPriceKeyup($event.target.value)" type="text" class="form-control {{validBuyPrice}}" id="validationServer06" required>
                                <div class="invalid-feedback">
                                    {{lockBuyPrice}}
                                </div>
                        </div>
                        <div class="col-md-1 mb-1">
                            <label for="validationServer05">% Ganancia</label>
                            <input (keyup)="percentageKeyup($event.target.value)" type="text" class="form-control {{validPercentage}}" id="validationServer06" required>
                                <div class="invalid-feedback">
                                    {{lockPercentage}}
                                </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="validationServer05">Precio de Venta</label>
                            <input (keyup)="salePriceKeyup($event.target.value)" type="text" class="form-control {{validSalePrice}}" id="validationServer07" value="{{salePrice}}" required>
                                <div class="invalid-feedback">
                                    {{lockSalePrice}}
                                </div>
                                
                        </div>
                    </div>
                    <button (click)="newProduct()" class="btn btn-add btn-primary" type="submit" align="center">Agregar Producto</button>
                </form>
            </div>
        </div>
    </div>
</div>