.body {
  padding-top: 50px;
}

.panel-body{
  float: center;
  font-family: monospace;
  margin-inline-start: 10px;
}

.table{
  float: center; 
  text-align: center;
  font-family: monospace;
  font-size: 15px;
  
}

.center{
  float: center;
  margin-left: 330px;
  
}

.h6{
text-align: left;
margin-left: 0px;
margin: 10px;
font-family: monospace;
}
 
.tfoot, tr, td{
  text-align: center;
  font-family: monospace;
}

thead{
  background: rgb(121, 247, 175);
}

h1{
  float: center;
  margin-top: 70px;
}

.modal-footer{
  margin: 30px;
  float: center;
}

.buttoon{
  float: right;
}

