@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  
  .background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
  }
  
  .background span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 2vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  
  .background span:nth-child(0) {
    color: #23a026;
    top: 27%;
    left: 69%;
    animation-duration: 32s;
    animation-delay: -28s;
    transform-origin: -11vw -4vh;
    box-shadow: 4vmin 0 1.0814751061128889vmin currentColor;
  }
  .background span:nth-child(1) {
    color: #15cc91;
    top: 76%;
    left: 46%;
    animation-duration: 33s;
    animation-delay: -46s;
    transform-origin: -18vw -24vh;
    box-shadow: 4vmin 0 0.6920855134489032vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #1ea66c;
    top: 23%;
    left: 43%;
    animation-duration: 37s;
    animation-delay: -50s;
    transform-origin: -20vw -2vh;
    box-shadow: -4vmin 0 1.290846547889011vmin currentColor;
  }
  .background span:nth-child(3) {
    color: #5fc2be;
    top: 27%;
    left: 5%;
    animation-duration: 28s;
    animation-delay: -34s;
    transform-origin: 21vw 4vh;
    box-shadow: -4vmin 0 1.3141787847127364vmin currentColor;
  }
  .background span:nth-child(4) {
    color: #27b12f;
    top: 84%;
    left: 77%;
    animation-duration: 16s;
    animation-delay: -6s;
    transform-origin: 16vw 9vh;
    box-shadow: 4vmin 0 1.4021233943116693vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #27b12f;
    top: 16%;
    left: 18%;
    animation-duration: 38s;
    animation-delay: -2s;
    transform-origin: -3vw 2vh;
    box-shadow: -4vmin 0 1.3189940712271317vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #23a026;
    top: 80%;
    left: 27%;
    animation-duration: 20s;
    animation-delay: -47s;
    transform-origin: 19vw 14vh;
    box-shadow: -4vmin 0 0.6204850938315356vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #1ea66c;
    top: 70%;
    left: 13%;
    animation-duration: 37s;
    animation-delay: -49s;
    transform-origin: -10vw -16vh;
    box-shadow: -4vmin 0 0.9790748506712497vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #348d8b;
    top: 82%;
    left: 7%;
    animation-duration: 30s;
    animation-delay: -34s;
    transform-origin: -10vw 20vh;
    box-shadow: 4vmin 0 0.6602362993329565vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #1ea66c;
    top: 71%;
    left: 55%;
    animation-duration: 49s;
    animation-delay: -39s;
    transform-origin: 4vw -4vh;
    box-shadow: -4vmin 0 0.6769247989143028vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #348d8b;
    top: 38%;
    left: 6%;
    animation-duration: 19s;
    animation-delay: -9s;
    transform-origin: -13vw 16vh;
    box-shadow: -4vmin 0 1.3147015744931403vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #27b12f;
    top: 43%;
    left: 2%;
    animation-duration: 23s;
    animation-delay: -27s;
    transform-origin: 7vw 12vh;
    box-shadow: 4vmin 0 0.7574617086624684vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #23a026;
    top: 67%;
    left: 6%;
    animation-duration: 20s;
    animation-delay: -7s;
    transform-origin: 6vw 14vh;
    box-shadow: -4vmin 0 1.1995079423444008vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #27b12f;
    top: 3%;
    left: 32%;
    animation-duration: 34s;
    animation-delay: -42s;
    transform-origin: 24vw -4vh;
    box-shadow: -4vmin 0 0.8212429051482637vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #1ea66c;
    top: 1%;
    left: 25%;
    animation-duration: 44s;
    animation-delay: -5s;
    transform-origin: 25vw -5vh;
    box-shadow: 4vmin 0 1.4592122341500344vmin currentColor;
  }
  .background span:nth-child(15) {
    color: #5fc2be;
    top: 71%;
    left: 56%;
    animation-duration: 23s;
    animation-delay: -2s;
    transform-origin: 0vw 23vh;
    box-shadow: 4vmin 0 1.260109579451146vmin currentColor;
  }
  .background span:nth-child(16) {
    color: #1ea66c;
    top: 93%;
    left: 43%;
    animation-duration: 18s;
    animation-delay: -5s;
    transform-origin: 24vw -6vh;
    box-shadow: -4vmin 0 1.4516916773100244vmin currentColor;
  }
  .background span:nth-child(17) {
    color: #1ea66c;
    top: 55%;
    left: 96%;
    animation-duration: 6s;
    animation-delay: -23s;
    transform-origin: -9vw -16vh;
    box-shadow: 4vmin 0 0.9283207709382657vmin currentColor;
  }
  .background span:nth-child(18) {
    color: #348d8b;
    top: 30%;
    left: 79%;
    animation-duration: 45s;
    animation-delay: -4s;
    transform-origin: 18vw -11vh;
    box-shadow: -4vmin 0 0.9351192645151223vmin currentColor;
  }
  .background span:nth-child(19) {
    color: #1ea66c;
    top: 82%;
    left: 88%;
    animation-duration: 6s;
    animation-delay: -31s;
    transform-origin: 14vw -23vh;
    box-shadow: -4vmin 0 0.553657507941105vmin currentColor;
  }
  .background span:nth-child(20) {
    color: #15cc91;
    top: 5%;
    left: 55%;
    animation-duration: 25s;
    animation-delay: -42s;
    transform-origin: -9vw -23vh;
    box-shadow: 4vmin 0 0.8401749282969497vmin currentColor;
  }
  .background span:nth-child(21) {
    color: #27b12f;
    top: 85%;
    left: 51%;
    animation-duration: 15s;
    animation-delay: -11s;
    transform-origin: -13vw -20vh;
    box-shadow: -4vmin 0 1.4478508014852942vmin currentColor;
  }
  .background span:nth-child(22) {
    color: #348d8b;
    top: 45%;
    left: 56%;
    animation-duration: 18s;
    animation-delay: -41s;
    transform-origin: 7vw 10vh;
    box-shadow: 4vmin 0 1.2952053269534038vmin currentColor;
  }
  .background span:nth-child(23) {
    color: #348d8b;
    top: 4%;
    left: 55%;
    animation-duration: 38s;
    animation-delay: -7s;
    transform-origin: -15vw -10vh;
    box-shadow: -4vmin 0 1.0712106128658572vmin currentColor;
  }
  .background span:nth-child(24) {
    color: #23a026;
    top: 52%;
    left: 62%;
    animation-duration: 7s;
    animation-delay: -4s;
    transform-origin: 11vw 22vh;
    box-shadow: -4vmin 0 1.0782181975204879vmin currentColor;
  }
  .background span:nth-child(25) {
    color: #27b12f;
    top: 20%;
    left: 69%;
    animation-duration: 35s;
    animation-delay: -5s;
    transform-origin: 19vw 5vh;
    box-shadow: -4vmin 0 1.070849399489304vmin currentColor;
  }
  .background span:nth-child(26) {
    color: #348d8b;
    top: 46%;
    left: 26%;
    animation-duration: 19s;
    animation-delay: -38s;
    transform-origin: -16vw -5vh;
    box-shadow: 4vmin 0 0.5885563328121597vmin currentColor;
  }
  .background span:nth-child(27) {
    color: #15cc91;
    top: 91%;
    left: 45%;
    animation-duration: 17s;
    animation-delay: -23s;
    transform-origin: 19vw -11vh;
    box-shadow: -4vmin 0 0.9016830890794889vmin currentColor;
  }
  .background span:nth-child(28) {
    color: #27b12f;
    top: 97%;
    left: 16%;
    animation-duration: 15s;
    animation-delay: -48s;
    transform-origin: 4vw 16vh;
    box-shadow: 4vmin 0 0.988898649872135vmin currentColor;
  }
  .background span:nth-child(29) {
    color: #348d8b;
    top: 15%;
    left: 37%;
    animation-duration: 22s;
    animation-delay: -37s;
    transform-origin: -19vw 22vh;
    box-shadow: 4vmin 0 0.6539840506745389vmin currentColor;
  }
  .background span:nth-child(30) {
    color: #1ea66c;
    top: 73%;
    left: 27%;
    animation-duration: 21s;
    animation-delay: -30s;
    transform-origin: 22vw 14vh;
    box-shadow: -4vmin 0 0.8051257609660778vmin currentColor;
  }
  .background span:nth-child(31) {
    color: #1ea66c;
    top: 44%;
    left: 64%;
    animation-duration: 55s;
    animation-delay: -20s;
    transform-origin: 1vw -16vh;
    box-shadow: -4vmin 0 1.3648702462867008vmin currentColor;
  }
  .background span:nth-child(32) {
    color: #1ea66c;
    top: 57%;
    left: 39%;
    animation-duration: 14s;
    animation-delay: -23s;
    transform-origin: -9vw 6vh;
    box-shadow: 4vmin 0 1.3797416940985057vmin currentColor;
  }
  .background span:nth-child(33) {
    color: #348d8b;
    top: 36%;
    left: 46%;
    animation-duration: 43s;
    animation-delay: -21s;
    transform-origin: -13vw 1vh;
    box-shadow: 4vmin 0 0.6161104025780464vmin currentColor;
  }
  .background span:nth-child(34) {
    color: #348d8b;
    top: 94%;
    left: 54%;
    animation-duration: 10s;
    animation-delay: -48s;
    transform-origin: -1vw 1vh;
    box-shadow: 4vmin 0 1.2310526733242488vmin currentColor;
  }
  .background span:nth-child(35) {
    color: #23a026;
    top: 3%;
    left: 69%;
    animation-duration: 34s;
    animation-delay: -28s;
    transform-origin: 14vw 5vh;
    box-shadow: 4vmin 0 0.7328869617525846vmin currentColor;
  }
  .background span:nth-child(36) {
    color: #15cc91;
    top: 74%;
    left: 74%;
    animation-duration: 28s;
    animation-delay: -33s;
    transform-origin: 23vw 8vh;
    box-shadow: -4vmin 0 1.1597237578382298vmin currentColor;
  }
  .background span:nth-child(37) {
    color: #27b12f;
    top: 34%;
    left: 92%;
    animation-duration: 40s;
    animation-delay: -13s;
    transform-origin: -11vw -13vh;
    box-shadow: 4vmin 0 0.7489137951990585vmin currentColor;
  }
  .background span:nth-child(38) {
    color: #5fc2be;
    top: 46%;
    left: 14%;
    animation-duration: 7s;
    animation-delay: -25s;
    transform-origin: 24vw 19vh;
    box-shadow: -4vmin 0 0.8437114065072251vmin currentColor;
  }
  .background span:nth-child(39) {
    color: #27b12f;
    top: 94%;
    left: 56%;
    animation-duration: 55s;
    animation-delay: -43s;
    transform-origin: -7vw 8vh;
    box-shadow: -4vmin 0 1.35083462494923vmin currentColor;
  }
  .background span:nth-child(40) {
    color: #348d8b;
    top: 73%;
    left: 4%;
    animation-duration: 20s;
    animation-delay: -28s;
    transform-origin: -10vw 2vh;
    box-shadow: 4vmin 0 1.447335027234804vmin currentColor;
  }
  .background span:nth-child(41) {
    color: #23a026;
    top: 37%;
    left: 32%;
    animation-duration: 16s;
    animation-delay: -6s;
    transform-origin: 4vw 21vh;
    box-shadow: -4vmin 0 1.050264949406713vmin currentColor;
  }
  .background span:nth-child(42) {
    color: #15cc91;
    top: 13%;
    left: 52%;
    animation-duration: 39s;
    animation-delay: -37s;
    transform-origin: -18vw -11vh;
    box-shadow: 4vmin 0 0.8271878022553696vmin currentColor;
  }
  .background span:nth-child(43) {
    color: #5fc2be;
    top: 11%;
    left: 60%;
    animation-duration: 8s;
    animation-delay: -15s;
    transform-origin: 24vw 25vh;
    box-shadow: -4vmin 0 0.9991841902625553vmin currentColor;
  }
  .background span:nth-child(44) {
    color: #1ea66c;
    top: 90%;
    left: 39%;
    animation-duration: 8s;
    animation-delay: -9s;
    transform-origin: 8vw 7vh;
    box-shadow: -4vmin 0 1.280244083488785vmin currentColor;
  }
  .background span:nth-child(45) {
    color: #15cc91;
    top: 13%;
    left: 12%;
    animation-duration: 41s;
    animation-delay: -24s;
    transform-origin: -8vw -20vh;
    box-shadow: 4vmin 0 0.9415730470535475vmin currentColor;
  }
  .background span:nth-child(46) {
    color: #1ea66c;
    top: 2%;
    left: 8%;
    animation-duration: 50s;
    animation-delay: -29s;
    transform-origin: -15vw 0vh;
    box-shadow: -4vmin 0 1.2944508322647441vmin currentColor;
  }
  .background span:nth-child(47) {
    color: #5fc2be;
    top: 1%;
    left: 12%;
    animation-duration: 54s;
    animation-delay: -32s;
    transform-origin: 19vw -9vh;
    box-shadow: 4vmin 0 1.1321885805515455vmin currentColor;
  }
  .background span:nth-child(48) {
    color: #27b12f;
    top: 12%;
    left: 42%;
    animation-duration: 12s;
    animation-delay: -39s;
    transform-origin: -17vw -7vh;
    box-shadow: 4vmin 0 1.4503706110624481vmin currentColor;
  }
  .background span:nth-child(49) {
    color: #5fc2be;
    top: 36%;
    left: 33%;
    animation-duration: 29s;
    animation-delay: -4s;
    transform-origin: 19vw -24vh;
    box-shadow: -4vmin 0 1.1670873707436125vmin currentColor;
  }
  
  
  
    body {  
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      background: #181818;
      color: #181818; 
      overflow: hidden;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 300;
    }
    
    #wrapper {
      display: flex;
      flex-direction: row;
    }
    
    #left {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    #right {
      flex: 1;
    }
    
    /* Sign In */
    #signin {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 35%;
      padding-bottom: 1rem;
    }
    
    #signin form {
      width: 80%;
      padding-bottom: 3rem;
    }
    
    #signin .logo {
      margin-bottom: 8vh;
    }
    
    #signin .logo img {
      width: 30px;
    }
    
    #signin label {
      font-size: 0.9rem;
      line-height: 2rem;
      font-weight: 500;
      color: #00cee9;
    }
    
    #signin .text-input {
      margin-bottom: 1.3rem;
      width: 100%;
      border-radius: 2px;
      background: #181818;
      border: 1px solid #555;
      color: #00cee9;
      padding: 0.5rem 1rem;
      line-height: 1.3rem;
    }
    
    #signin .primary-btn {
      width: 100%;
      
      
    }
    
    #signin .secondary-btn,
    .or,
    .links {
      width: 60%;
    }
    
    #signin .links a {
      display: block;
      color: #00cee9;
      text-decoration: none;
      margin-bottom: 1rem;
      text-align: center;
      font-size: 0.9rem;
    }
    
    #signin .or {
      display: flex;
      flex-direction: row;
      margin-bottom: 1.2rem;
      align-items: center;
    }
    
    #signin .or .bar {
      flex: auto;
      border: none;
      height: 1px;
      background: #aaa;
    }
    
    #signin .or span {
      color: #ccc;
      padding: 0 0.8rem;
    }
    
    /* Showcase */
    #showcase {
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('https://i.ibb.co/7b638xZ/prueba-611.jpg') no-repeat center center / cover;
      height: 110vh;
      text-align: center;
    }
    
    #showcase .showcase-text {
      font-size: 3rem;
      width: 110%;
      color: #fff;
      margin-bottom: 1.5rem;
    }
    
    #showcase .secondary-btn {
      width: 60%;
      margin: auto;
    }
    
    /* Footer */
    #main-footer {
      color: #ccc;
      text-align: center;
      font-size: 0.8rem;
      max-width: 80%;
      padding-top: 3rem;
    }
    
    #main-footer a {
      color: crimson;
      text-decoration: underline;
    }
    
    /* Button */
    .primary-btn {
      padding: 0.7rem 1rem;
      height: 2.7rem;
      display: block;
      border: 0;
      border-radius: 2px;
      font-weight: 500;
      background: #04a6bb;
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      transition: all 0.5s;
    }
  
    
    
    .primary-btn:hover {
      background-color: #037e86;
    }
    
    .secondary-btn {
      padding: 0.7rem 1rem;
      height: 2.7rem;
      display: block;
      border: 1px solid #f4f4f4;
      border-radius: 2px;
      font-weight: 500;
      background: none;
      color: #f4f4f4;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      transition: all 0.5s;
    }
    
    .secondary-btn:hover {
      border-color: #00cee9;
      color: #00cee9;
    }
    
    /* Media Queries */
    @media (min-width: 1200px) {
      #left {
        flex: 4;
      }
    
      #right {
        flex: 6;
      }
    }
    
    @media (max-width: 768px) {
      body {
        overflow: auto;
      }
    
      #right {
        display: none;
      }
    
      #left {
        justify-content: start;
        margin-top: 4vh;
      }
    
      #signin .logo {
        margin-bottom: 2vh;
      }
    
      #signin .text-input {
        margin-bottom: 0.7rem;
      }
    
      #main-footer {
        padding-top: 1rem;
      }
    }