
<div class="form-group col-12" class="row" style="margin: 0%; padding: 0%;"></div>
        <nav class="navbar navbar-dark bg-dark">
            .
            <a class="navbar-brand" align="center center" href="#">Sistema de inventario BS </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" align="center" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" align="center" href="#">Ajustes</a>
                <a class="nav-item nav-link" align="center" href="#">Ayuda</a>
                <a class="nav-item nav-link disabled" align="center" href="#">Cerrar sesión</a>
            </div>
            </div>
        </nav>
        <div class="col-12">
            <navfilter></navfilter>
        </div>

        <div class="col-12" align="center">
        
            <div class="col-6 pag" align="center">
            <table class="table table-striped">
                <thead style="background-color:rgb(116, 117, 117);" class="thead">
                
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">15498</th>
                    <td>Galaxy J2 Pro (Black)</td>
                    <td>Samsung</td>
                    <td>56</td>
                    <td>$79.990</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Vender
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      ...
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
        <button [routerLink]="['/sales']" type="button" class="btn btn-secondary btn-lg">Regresar</button>
</div>
