
<div class="form-group col-12" class="row" style="margin: 0%; padding: 0%;"></div>
        <nav class="navbar navbar-dark bg-dark">
            .
            <a class="navbar-brand" align="center center" href="#">Sistema de inventario BS </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" align="center" href="#">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" align="center" href="#">Ajustes</a>
                <a class="nav-item nav-link" align="center" href="#">Ayuda</a>
                <a class="nav-item nav-link disabled" align="center" href="#">Cerrar sesión</a>
            </div>
            </div>
        </nav>
        <div class="col-12">
            <navfilter></navfilter>
        </div>

        <div class="col-12" align="center">
        
            <div class="col-6 pag" align="center">
            <table class="table table-striped">
                <thead style="background-color:rgb(116, 117, 117);" class="thead">
                
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <th scope="row">15498</th>
                    <td>Galaxy J2 Pro (Black)</td>
                    <td>Samsung</td>
                    <td>56</td>
                    <td>$79.990</td>
                    </tr>
                </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin: 10px">
                Vender
              </button>
              
              <!-- Modal -->
              <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="exampleModalLabel">Detalle de Compra</h6>
                      <div class="row">
                        <address>
                         <strong class="" style="margin-left: 135px">BRAINSTORM</strong>
                         <h6 class="modal-title" id="exampleModalLabel" style="margin-left: 150px">Irarrázaval 3665, Ñuñoa</h6>                     
                         </address>
                 </div> <!-- row -->
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                    <div class="row">
                        <ul class="list-inline">
                            <li class="list-inline-item" style="margin: 0px">Factura</li>
                            <li class="list-inline-item" style="margin-left: 350px">Logo</li>
                          </ul>
                          
                        <!--h2 class="modal-title" id="exampleModalLabel">Factura</h2>
                        <h4 class="modal-title" id="exampleModalLabel" style="margin-left: 150px">logo</h4>

                        <h6 style="margin-right: 500px"> #245</h6> 
                        <h6 class="modal-title" id="exampleModalLabel" style="margin-left: 350px">Fecha</h6-->
                        
                    </div>
  
                    <div class="row m-12">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading ">
                                    <!-- <h3 class="panel-title">Cabecera</h3> -->
                                    <ul class="list-inline">
                                        <li class="list-inline-item" style="margin: 40px">Vendedor:</li>
                                        <li class="list-inline-item" style="margin: 40px">Cliente:</li>
                                        <li class="list-inline-item" style="margin: 40px">Enviar a:</li>
                                      </ul>
                                    
                                        <!--div class="col-m-6" style="background-color:white;">
                                            <div class="form-group">
                                                <label for="gmail" class="col-m-6" style="margin-right: 500px">Enviar a:</label>
                                                <div class="col-m-6" style="margin-right: 80px">
                                                    <input class="form-control" id="gmail" placeholder="eje@ejemplo.com" type="gmail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-m-6" style="background-color:white;">
                                            <div class="form-group">
                                                <label for="nombre" class="col-m-6" style="margin-right: 500px">Facturar a:</label>
                                                <div class="col-m-6" style="margin-right: 80px">
                                                    <input class="form-control" id="nombre" placeholder="nombre cliente" type="nombre">
                                                </div>
                                            </div>
                                        </div-->
                                        <div class="col-m-6 target" style="background-color:white;">
                                            <div class="form-group">
                                                
                                                <div class="col-m-9">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- row -->
                                    <br>
                                    
                        </div> <!-- panel heading -->
                        
                        <table>
                          <caption>Detalle</caption>
                          <thead>
                            <tr>
                              <th>Código</th>
                              <th>Cantidad</th>
                              <th>Descripción</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>001</td>
                              <td>1</td>
                              <td>Galaxy J2 Pro (Black) Samsung</td>
                              <td>$76.990</td>
                            </tr>
                            <tr>
                                <td>002</td>
                                <td>1</td>
                                <td>Galaxy J2 Pro (Black) Samsung</td>
                                <td>$76.990</td>
                              </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th colspan="3">Total Monto</th>
                              <th>$76.990</th>
                            </tr>
                          </tfoot>
                        </table>
                            </div> <!-- panel -->
                        </div> <!-- col -->
                    </div> <!-- row -->
                    <div class="row text-center">
                      <strong style="margin-left: 10px">(*)Estimado Cliente</strong> 
                      <small class="text-muted">Para obtener más información referente al pago, devolución, y/o reembolso, dirijase al centro de Atención a Cliente más cercano o llame al 2-346532</small>
                    </div>
  <!-- container -->

                   

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Enviar a Correo</button>
                      <button type="button" class="btn btn-info">Imprimir</button>
                    </div>
                  </div>
                </div>
              </div>
            


            <button [routerLink]="['/sales']" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Regresar</button>
            <br>
            <br>
            <h5 style="margin-right: 500px" >Tipo Pago:</h5>
            <button type="button" class="btn btn-success" style="margin: 10px">Efectivo</button>
            <button type="button" class="btn btn-success">Crédito</button>
    
</div>
