<div class="col-12">
  <div class="col-2">
      <app-xiaomi></app-xiaomi>
  </div>
  <div class="col-10" style="float: right;"> 
       
        <div class="col-12" align="center">
        
            <div class="col-6 pag" align="center">
            <table class="table table-striped">             
                <thead style="background-color:rgb(116, 117, 117);" class="thead">
                   <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>               
                <tbody>
                  <tr *ngFor = "let product of listProducts">
                    <td>{{product.idProductoDto}}</td>
                    <td>{{product.modeloDto}}</td>
                    <td>{{product.marcaDto}}</td>
                    <td>{{product.cantidad}}</td>
                    <td>{{product.total}}</td>
                  </tr>
                  
                </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="margin: 10px">
                Vender
              </button>
              
              <!-- Modal -->
              <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5><strong class="" style="margin-right: 0px">FACTURA</strong></h5>
                      <h5 class="" id="exampleModalLabel" style="margin-left: 10px">#245</h5>
                      
                      
                      <div class="row">
                        
                         <strong class="" style="margin-left: 140px">Fundación Forge S.A</strong>
                         <h6 class="" id="exampleModalLabel" style="margin-left: 120px">Irarrázaval 3665, Ñuñoa, Región Metropolitana</h6>                     
                         
                 </div> <!-- row -->
                 
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                    
                    <div class="row">
                        <div class="col-m-6">
                            <div class="panel panel-default">
                                <div class="panel-heading ">
                                    <!-- <h3 class="panel-title">Cabecera</h3> -->
                                    <div class="form-group row">
                                      <strong><label for="date" class="col-sm-1 col-form-label">Fecha</label></strong>
                                      <div class="col-sm-4">
                                        <input type="date" class="form-control" id="date">
                                      </div>
                                      <div class="row">
                                        
                                            <div class="form-group" >
                                                <strong><label for="cliente" class="col-sm-2 control-label">Sr(a)</label></strong>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="cliente"  type="text">
                                                </div>
                                            </div>
                                        
                                        
                                            <div class="form-group">
                                                <strong><label for="id" class="col-sm-2 control-label">Rut</label></strong>
                                                <div class="col-sm-8">
                                                    <input class="form-control" id="rut" placeholder="12345678-9" type="text">
                                                </div>
                                            </div>
                                        
                                        
                                          <div class="form-group">
                                              <strong><label for="gmail" class="col-sm-2 control-label">Correo:</label></strong>
                                              <div class="col-sm-8">
                                                  <input class="form-control" id="gmail" placeholder="ori@gmail.com" type="text">
                                              </div>
                                          </div>
                                      
                                      
                                    </div>
                                        
                                  
                                        <div class="col-m-6 target" style="background-color:white;">
                                            <div class="form-group">
                                                
                                                <div class="col-m-9">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- row -->
                                    <br>
                                    
                        </div> <!-- panel heading -->
                        
                        <table>
                          <caption>Detalle Compra</caption>
                          <thead >
                            <tr>
                              <th>Código</th>
                              <th>Cantidad</th>
                              <th>Descripción</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>421</td>
                              <td>01</td>
                              <td>Galaxy J2 Pro (Black) Samsung</td>
                              <td>$79.990</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <th colspan="3" class="text-right"><strong>Sub Total $:</strong></th>
                              <th class="text-right"><strong>79.990</strong></th>
                            </tr>
                            <tr>
                              <th colspan="3" class="text-right"><strong>19% I.V.A $:</strong></th>
                              <th class="text-right"><strong>15.198</strong></th>
                            </tr>
                            <tr>
                              <th colspan="3" class="text-right"><strong>Total $:</strong></th>
                              <th class="text-right"><strong>95.188</strong></th>
                            </tr>

                          </tfoot>
                        </table>
                            </div> <!-- panel -->
                        </div> <!-- col -->
                    </div> <!-- row -->
                    <br>
                    
                    <div class="row text-center">
                      <strong style="margin-left: 10px">(*)Estimado Cliente</strong> 
                      <small style="margin-left: 10px" class="text-muted">Para obtener más información referente al pago, devolución, y/o reembolso, dirijase al centro de Atención a Cliente más cercano o llame al 2-346532.</small>
                    </div>
  <!-- container -->

                   

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Enviar a Correo</button>
                      <button type="button" class="btn btn-info">Imprimir</button>
                    </div>
                  </div>
                </div>
              </div>
            


            <button [routerLink]="['/sales']" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Regresar</button>
            <br>
            <br>
            <h5 style="margin-right: 500px" >Tipo Pago:</h5>
            <button type="button" class="btn btn-success" style="margin: 10px">Efectivo</button>
            <button type="button" class="btn btn-success">Crédito</button>
  </div>
</div>
