table {
  font-family: "Helvetica Neue", Helvetica, sans-serif
}
  
caption {
  text-align: left;
  color: rgb(168, 167, 167);
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}
  
thead {
  background: rgb(99, 177, 241);
  color: white;
}
  
th,
td {
  padding: 5px 10px;
  text-align:center;

}
  
tbody tr,td:nth-child(even) {
    background: White;
}
  
tbody tr td:nth-child(2) {
  text-align:center;

}
  
tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: right;
  font-family: monospace;
}

tfoot {
  background: rgb(77, 197, 191);
  color: white;
  text-align: right;
}

tfoot tr th:last-child {
  font-family: monospace;
}

.table{
  background: rgb(255, 255, 255);
}
.th,td{
  background: white;
  text-align: left;
}
tr{
  text-align: right;
}

.strong{
  text-align: center;
  float: center;
}
