<div class="col-12">
  <navbar></navbar>
  <div class="col-2"style="float: left;">
    <app-tool-bar></app-tool-bar>
  </div>
<div class="col-8" align="center" style="float: right;">
    <h1 align="center">Stock</h1>
    
    <div class="col-8 pag" align="center">
  
      <table class="table table-bordered">
        <thead style="background-color:rgb(19, 219, 152);" class="thead">
        
        <tr>
          <th scope="col">ID Producto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Marca</th>
          <th scope="col">Categoria</th>
          <th scope="col">Precio Compra</th>
          <th scope="col">Precio Venta</th>
          <th scope="col">Stock</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">001</th>
            <td>XS</td>
            <td>IPhone</td>
            <td>Cell</td>
            <td>200000</td>
            <td>45000</td>
            <td>35</td>
          </tr>
          <tr>
            <th scope="row">002</th>
            <td>A30</td>
            <td>Samsung</td>
            <td>Cell</td>
            <td>280000</td>
            <td>40000</td>
            <td>27</td>
          </tr>
          <tr>
            <th scope="row">003</th>
            <td>P20</td>
            <td>Huawei</td>
            <td>Cell</td>
            <td>300000</td>
            <td>45000</td>
            <td>20</td>
          </tr>
        </tbody>
        <th scope="7">TOTAL</th>
        <td colspan="6"></td>
      </table>
      <div class="col-8 pag" align="left"></div>
      <button type="button" class="btn btn-outline-success">Aceptar</button>
    </div>
      
    </div>
</div>