<div class="col-12">
  <navbar></navbar>
  <div class="col-2"style="float: left;">
    <app-tool-bar></app-tool-bar>
  </div>
  <div class="row">
      <div class="col-sm-5">
        <div class="card-body text-primary">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h5 class="card-title">Agregar o eliminar marca</h5>
          <a href="#" class="btn btn-primary">Agregar marca</a>
          <br>
          <br>
          <a href="#" class="btn btn-primary">Eliminar marca</a>
        </div>
      </div>
    <div class="col-sm-6">
      <div class="card-body text-primary">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <div class="card-body">
          <h5 class="card-title">Eliminar usuario</h5>
          <a href="#" class="btn btn-primary">Eliminar usuario</a>
        </div>
      </div>
    </div>
  </div>
</div>