
         <nav class="navbar navbar-light" style="background-color: rgb(41, 180, 162)">
          <a class="navbar-brand title">Nombre Vendedor</a>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-color" type="submit">Search</button>
          </form>
        </nav>

 <div class="col-12" align="center">
   
    <div class="col-6 pag" align="center">
      <table class="table table-striped">
        <thead style="background-color:rgb(116, 117, 117);" class="thead">
          
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Modelo</th>
              <th scope="col">Marca</th>
              <th scope="col">Stock</th>
              <th scope="col">Valor</th>
              <th scope="col">Selecionar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">15498</th>
              <td>Galaxy J2 Pro (Black)</td>
              <td>Samsung</td>
              <td>56</td>
              <td>$79.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
            </tr>
            <tr>
              <th scope="row">25489</th>
              <td>Galaxy J7 Prime 2 (White)</td>
              <td>Samsung</td>
              <td>12</td>
              <td>$129.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
            </tr>
            <tr>
              <th scope="row">35976</th>
              <td>Galaxy S9 (Dorado)</td>
              <td>Samsung</td>
              <td>5</td>
              <td>$409.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
            </tr>
            <tr>
                <th scope="row">48431</th>
                <td>Galaxy A8 Plus (Black)</td>
                <td>Samsung</td>
                <td>19</td>
                <td>$369.990</td>
                <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
            </tr>
            <tr>
              <th scope="row">53495</th>
              <td>Galaxy A8 Plus (White)</td>
              <td>Samsung</td>
              <td>25</td>
              <td>$359.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
          </tr>
            <tr>
              <th scope="row">61374</th>
              <td>Galaxy S10 Verde Prisma</td>
              <td>Samsung</td>
              <td>25</td>
              <td>$799.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
          </tr>
            <tr>
              <th scope="row">75634</th>
              <td>Galaxy A50 (Black)</td>
              <td>Samsung</td>
              <td>25</td>
              <td>$203.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
          </tr>
            <tr>
              <th scope="row">83469</th>
              <td>Galaxy A50 (White)</td>
              <td>Samsung</td>
              <td>25</td>
              <td>$209.990</td>
              <td><button class="btn btn-primary" type="submit">seleccionar</button></td>
          </tr>
          </tbody>
        </table>
    </div>
</div>
