<<<<<<< HEAD
.nav-pills{
    align-content: center;
    background-color: rgb(46, 42, 42);
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;

    
    
  }
  
  .iphone7{
    width: 80px; height: 80px;
  }
  
  .iphone8{
    width: 80px; height: 80px;
  }
  
  .samsungs10{
    width: 80px; height: 80px;
  }
  
  .samsunga80{
    width: 80px; height: 80px;
  }
  
  .huaweip30{
    width: 80px; height: 80px;
  }
  
  .huaweimate30{
    width: 80px; height: 80px;
  }
=======
>>>>>>> b7b7ee39247d9ca6c47de5b32ed40641a86c4073
