
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-area-chart"></i> Modelos disponibles en sucursal</div>
  <div class="card-body">
    <canvas id="myAreaChart" width="100%" height="30"></canvas>
<div class="row">

  <div class="form-grup">
    <select [(ngModel)]="marcaLocal" class="custom.select mr-sm-2" id="inlineFormCustomSelec">
      <option selected>jajjaja</option>
      <option  *ngFor = "let marca of lista" [ngValue]="marca" (ngModelChange)="cambiaLado($event)" >{{marca.marcaDto}}</option>
    </select>

  </div>
  <button type="button" (clic)="getMarca()">jaja</button>
  
  <table class="table table-striped">             
    <thead style="background-color:rgb(116, 117, 117);" class="thead">
       <tr>
        <th scope="col">ID</th>
        <th scope="col">Modelo</th>
        <th scope="col">Marca</th>
        <th scope="col">Stock</th>
        <th scope="col">Valor</th>
        </tr>
    </thead>               
    <tbody>
      <tr *ngFor = "let product of listProducts">
        <td>{{product.idProductoDto}}</td>
        <td>{{product.modeloDto}}</td>
        <td>{{product.marcaDto}}</td>
        <td>{{product.cantidadDto}}</td>
        <td>{{product.total}}</td>
      </tr>
      
    </tbody>
    </table>