<div class="container">
  <div class="row">
     <div class="col-sm-12">
</div>
<ul class="nav nav-pills" role="tablist">
 <li role="presentation" class>
     <a title="Descripcion" href="#tab-description" aria-controls="tab-description" 
     role="tab" data-toggle="tab" aria-expanded="false">Iphone</a>
 </li>
 <li role="presentation" class>
      <a title="Ficha tecnica" href="#tab-technical_details" 
      aria-controls="tab-technical_details" role="tab" data-toggle="tab" aria-expanded="false">Samsung</a>
 </li>
 <li role="presentation" class>
      <a title="Garantía" href="#tab-warranty" aria-controls="tab-warranty" 
     role="tab" data-toggle="tab" aria-expanded="false">Huawei</a>
     
  </li>
</ul>
<div class="tab-content">
   <div role="tabpanel" class="tab-pane fade" id="tab-description" data-hook="description">
     
    <a href="https://imgbb.com/"><img class="iphone7" src="https://i.ibb.co/fSq22Dt/iphone.png" alt="iphone" border="0"></a>
       <ul>
           <li>
             Pantalla Retina HD de 4,7 pulgadas
           </li>
           <li>
             Resistente al agua y al polvo
           </li>
           <li>
             Cámara de 12 MP y grabación de video 4K a 30 cps
           </li>
       </ul>
       
       <a href="https://imgbb.com/"><img class="iphone8" src="https://i.ibb.co/7Ywd3Vm/iphone-8.png" alt="iphone-8" border="0"></a>
       <ul>
           <li>
             Pantalla Retina HD de 4,7 pulgadas
           </li>
           <li>
             Resistente al agua y al polvo
           </li>
           <li>
             Cámara de 12 MP y grabación de video 4K a 30 cps
           </li>
       </ul>


        </div>
         <div role="tabpanel" class="tab-pane fade" id="tab-technical_details" data-hook="product_properties">
          <a href="https://ibb.co/RC8LfyX"><img class="samsungs10" src="https://i.ibb.co/THyz6LQ/samsung10.jpg" alt="samsung10" border="0"></a>          <ul>
              <li>
                Pantalla Retina HD de 4,7 pulgadas
              </li>
              <li>
                Resistente al agua y al polvo
              </li>
              <li>
                Cámara de 12 MP y grabación de video 4K a 30 cps
              </li>
          </ul>

          <a href="https://imgbb.com/"><img class="samsunga80" src="https://i.ibb.co/NLnQfQw/samsunga80.png" alt="samsunga80" border="0"></a>       <ul>
           <li>
             Pantalla Retina HD de 4,7 pulgadas
           </li>
           <li>
             Resistente al agua y al polvo
           </li>
           <li>
             Cámara de 12 MP y grabación de video 4K a 30 cps
           </li>
       </ul>
           </div>
           
             <div role="tabpanel" class="tab-pane fade" id="tab-warranty" data-hook="tab-warranty">
              
              <a href="https://ibb.co/6sLBqJY"><img class="huaweip30" src="https://i.ibb.co/0JvtzVq/huaweip30.jpg" alt="huaweip30" border="0"></a>       <ul>
           <li>
             Pantalla Retina HD de 4,7 pulgadas
           </li>
           <li>
             Resistente al agua y al polvo
           </li>
           <li>
             Cámara de 12 MP y grabación de video 4K a 30 cps
           </li>
       </ul>

       <a href="https://imgbb.com/"><img class="huaweimate30" src="https://i.ibb.co/sQP8HNW/huaweimate30.jpg" alt="huaweimate30" border="0"></a>       <ul>
           <li>
             Pantalla Retina HD de 4,7 pulgadas
           </li>
           <li>
             Resistente al agua y al polvo
           </li>
           <li>
             Cámara de 12 MP y grabación de video 4K a 30 cps
           </li>
       </ul>


               </div>
     </div>
  </div>
</div>